.aboutbox h1{
    text-align: center;
    padding: 10px;
}


 .col-4{
    float:left;
    width:100%; 
    padding:20px;  
}    
.box{
    width:250px;
    margin: 0 10px;   
}
.col-4 img{
    height:200px;
    width:250px;
    border-radius:50%;
}
 


