.aboutbox h1{
    text-align: center;
    padding: 15px;
}
 .aboutbox{
     background-color: rgb(143, 94, 119);
     height:400px;
     margin-top: -20px;  
    
 }
 .col-4 img{
    width:200px;
    height:150px;
    border-radius: 50%; 
    position:relative;
    left:60px;

}
.col-4{
    margin-left:120px;
    margin-right:50px;
    float: left; 
    padding:5px;
    width:300px;
   
}

.col-4 h2,p{
   text-align: center;
   color: beige;  
}
.col-4 p{
    font-size: 15px;
}


