.contactbox{
    background-color: rgb(202, 67, 168);
    margin-top: -20px;
 }
 .contactbox h2{
    padding-top: 10px;
    text-align: center;
    color: blue;
}

.col-6{
    float:left;
    width:100%;
    padding:10px;
  
}
.box4{
    width:350px;  
 
  margin-right:0;
}   
.button1{
    padding:8px 155px;
    color: #FFF;
    background-color: black;
    border: 0px;    
}
 